.board {
  display: block;
  margin: 0 auto;
  width: 400px;
  height: 400px;
}

.board li {
  display: block;
  float: left;
  width: 50px;
  height: 50px;
  text-align: center;
  font-size: 36px;
}

.black-square {
  display: block;
  background: #A9A9A9;
}

.white-square {
  display: block;
  background: #E0FFFF;
}

.board .active {
  background:	#00FF00;
}
