.footer-content {
  margin-top: 60px;
  text-align: center;
}

.footer-content i {
  display: inline-block;
  margin-right: 20px;
}

.footer-signiture {
  display: inline;
  font-size: 36px;
  margin-right: 40px;
  font-family: 'Cookie', cursive;
}

.footer-icons {
  font-size: 32px;
}
