

html, body, header, nav, h1, a, ul, li,
strong, main, section, img, div, h2, p,
form, fieldset, label, input, textarea,
button, article, footer, small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  box-sizing: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  color: inherit;
  background: transparent;
}

ul {
  list-style: none;
}

body {
  font-family: sans-serif;
  background: #F7F5F2;
  /* background: #F8F9FD; */
}

img {
  display: block;
}

.group::after {
  content: "";
  clear: both;
  display: block;
}

.board {
  display: block;
  margin: 0 auto;
  width: 400px;
  height: 400px;
}

.board li {
  display: block;
  float: left;
  width: 50px;
  height: 50px;
  text-align: center;
  font-size: 36px;
}

.black-square {
  display: block;
  background: #A9A9A9;
}

.white-square {
  display: block;
  background: #E0FFFF;
}

.board .active {
  background:	#00FF00;
}

.greeting {
  display: block;
  margin: 40px auto 40px auto;
  font-size: 24px;
  font-style: sans-serif;
  text-align: center;
}

.reset-button {
  margin: 40px auto 30px auto;
  display: block;
  padding: 10px;
  background: red;
  color: #fff;
  border-radius: 6px;
  border: 1px solid black;
  width: 100px;
  text-align: center;
}

.reset-button:hover {
  cursor: pointer;
}

.modal {
  text-align: center;
  font-size: 44px;
  vertical-align: center;
}
